body {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    background: url("../images/space.jpg");
    color: lavender;
}

.card {
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    background-color: lightslategray;
   
    
}